<header>
  <nav>
    <div class="center">
      <ul>
        {% for p in site.pages %}
          {% if p.title %}
            <li id="nav-{{ p.title | downcase }}">
              {% capture href %}{{ site.baseurl }}{{ p.url }}{% endcapture %}
              {% capture class %}{% if page.url == p.url %} active {% endif %}{% endcapture %}
              <a href="{{ href }}" class="{{ class }}">
                {{ p.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
