/* PRODUCT */

#product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  cursor: pointer;
  width: 3em;
  height: 25em;
  background: url({{ site.baseurl }}/assets/images/next.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow.left {
  transform: rotate(180deg);
}

.browser {
  width: 40em;
  height: 25em;
  border: 0.1em solid #81CCBD;
  border-radius: 0.5em;
  margin: auto;
  margin-top: 1em;
  overflow: hidden;
}

.browser .navigation {
  display: flex;
  border-bottom: 0.1em solid #81CCBD;
  height: 2.75em;
  justify-content: space-between;
  align-items: center;
  background: #DCF1ED;
}

.browser .buttons {
  display: flex;
  width: 3em;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.75em;
}

.browser .button {
  width: 0.75em;
  height: 0.75em;
  border: 0.1em solid;
  border-radius: 0.75em;
}

.browser .button.close {
  background: #ED6A5E;
  border-color: #CD5045;
}

.browser .button.min {
  background: #F6C250;
  border-color: #D69F3C;
}

.browser .button.max {
  background: #62C654;
  border-color: #5DA94B;
}

.browser .location {
  display: flex;
  font-size: 0.8em;
  color: #777;
  border: 0.1em solid #81CCBD;
  padding: 0.25em 8em;
  border-radius: 0.2em;
  background: white;
}

.browser .tmp {
  width: 3em;
  margin-right: 0.75em;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.slider .bullet {
  cursor: pointer;
  width: 0.75em;
  height: 0.75em;
  border: 0.1em solid #81CCBD;
  border-radius: 10em;
  margin: 0 0.25em;
  background: #DCF1ED;
}

.slider .bullet.active {
  background: #81CCBD;
}
