<!DOCTYPE html>
<html>
  <head>
    <title>
      OurDorm {% if page.title %} | {{ page.title }} {% endif %}
    </title>
    <!-- add google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <!-- add favicon -->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
  </head>
  <body>
    {% include views/header.html %}
    <main>
      {{ content }}
    </main>
    {% include views/footer.html %}
  </body>
</html>
