<!DOCTYPE html>
<html>
  <head>
    <title>
      OurDorm {% if page.title %} | {{ page.title }} {% endif %}
    </title>
    <link rel="stylesheet" href="/styles/{{ page.layout }}.css" />
    <link rel="stylesheet" href="/styles/{{ page.path | remove: '.html' }}.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
