<!DOCTYPE html>
<html>
  <head>
    <title>
      OurDorm {% if page.title %} | {{ page.title }} {% endif %}
    </title>
    <!-- add google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <!-- add favicon -->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
  </head>
  <body>
    {% include views/header.html %}
    <main>
      {{ content }}
    </main>
    {% include views/footer.html %}
    {% if page.script %}
      <!-- include jQuery and plugins -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
      <!-- include md5 hash for gravatar -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.7.0/js/md5.min.js"></script>
      <!-- include relevant JavaScript -->
      <script src="{{ site.baseurl }}/assets/scripts/lib.js"></script>
      <script src="{{ site.baseurl }}/assets/scripts/{{ page.script }}"></script>
    {% endif %}
  </body>
</html>
