<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles/layout.css" />
  <link rel="stylesheet" href="styles/header.css" />
  <link rel="stylesheet" href="styles/<%- current.source -%>.css" />
</head>
<body>
  <%- include('_header') -%>
  <main>
    <%- yield -%>
  </main>
</body>
</html>
