<footer>
  <div class="center">
    <!-- external navigation links -->
    <div>
      <!-- valdation links -->
      <a href="https://validator.w3.org/check?uri=referer" target="_blank">Validate HTML</a>
      <span>&bull;</span>
      <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">Validate CSS</a>
      <span>&bull;</span>
      <!-- link to GitHub repository -->
      <a href="https://github.com/{{ site.repository }}" target="_blank">GitHub</a>
    </div>
    <div>
      <span>Nick Breaton &copy; 2017</span>
    </div>
  </div>
</footer>
