---
layout: none
---

/* SITE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

main {
  flex-grow: 10;
}

.center {
  margin: auto;
  width: 800px;
}

input {
  padding: 0.85em 1em;
  border-radius: 0.25em;
}

input.text {
  font-size: 1em;
  color: {{ site.accent }};
  outline: none;
  border-width: 0.175em;
  border-color: #d2d2d2;
  border-style: solid;
  letter-spacing: 0.05em;
  background-color: rgba(0,0,0,0.025)
}

input.text:focus {
  border-color: {{ site.color }};
}

input[type="submit"] {
  border: none;
  background: {{ site.color }};
  color: white;
  cursor: pointer;
  font-size: 1.1em;
}

input[type="submit"]:active {
  opacity: 0.75;
}

input[type="checkbox"] {
  outline: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  color: {{ site.accent }};
}

input[type="checkbox"] + label::before {
  content: ' ';
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border-width: 0.25em;
  border-color: #d2d2d2;
  border-style: solid;
  border-radius: 0.25em;
  background-color: rgba(0,0,0,0.025);
  background: white;
  left: -1em;}

input[type="checkbox"]:active + label::before {
  border-color: {{ site.color }};
}

input[type="checkbox"]:checked + label::before {
  background-color: {{ site.color }};
  border-color: {{ site.color }};
  background-image: url('{{ site.baseurl }}/assets/check.svg');
  background-size: 65%;
  background-position: center center;
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

form input {
  margin-bottom: 1em;
}

form label {
  text-align: center;
  padding-left: 0.45em;
}

form fieldset {
  border: none;
  text-align: center;
  margin-bottom: 0.75em;
  position: relative;
}

form a {
  color: {{ site.color }};
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

/* HEADER */

header {
  padding: 1.5em 0;
}

header .center {
  display: flex;
}

#logo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 1em;
}

#logo img {
  height: 2.1em;
}

header ul {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
}

header li {
  list-style: none;
}

header .link {
  color: {{ site.accent }};
  text-decoration: none;
  font-size: 1.05em;
  font-weight: bold;
  margin-right: 1em;
  padding: 0.35em 0;
  display: inline-block;
  border-bottom: 0.175em solid rgba(0,0,0,0);
}

header .link.active,
header .link:hover {
  color: {{ site.color }};
}

header .link:hover {
  border-bottom-color: currentColor;
}

#nav-login {
  justify-content: flex-end;
  display: flex;
  flex-grow: 1000;
}

#nav-join {
  display: flex;
}

#nav-join .link {
  margin: 0;
  background-color: {{ site.color }};
  color: white;
  border-bottom: none !important;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0.25em;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 1.5em 0;
  color: {{ site.accent }};
  cursor: default;
}

footer a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

/* INDEX */

.home {
  text-align: center;
}

.title {
  font-size: 4em;
  text-align: center;
  margin: 0.5em;
  cursor: default;
}

.title-start {
  font-weight: bold;
  color: {{ site.color }};
}

.moto {
  text-align: center;
  margin-bottom: 5em;
  display: inline-block;
  max-width: 50ch;
  color: {{ site.accent }};
  font-size: 1.15em;
}

#call-to-action {
  background: {{ site.color }};
  border: none;
  color: #fff;
  padding: 1em;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 0.5em;
  margin: auto;
  text-decoration: none;
}

/* LOGIN */



/* JOIN */



/* PRICING */



/* PRODUCT */



/**/
