---
layout: default
title: Product
order: 2
---
<div class="center">
  <div id="product">
    <div class="arrow left"></div>
    <div class="browsers">
      {% include views/browser.html src="https://i.imgur.com/TxcoPUK.png" alt="example one" %}
      {% include views/browser.html src="https://i.imgur.com/IC7WgMg.png" alt="example two" %}
      {% include views/browser.html src="https://i.imgur.com/r84SzAc.png" alt="example three" %}
    </div>
    <div class="arrow right"></div>
  </div>
  <div class="slider">
    <!-- bullets generated dynamically -->
  </div>
</div>
